<a href="https://colab.research.google.com/github/camilorp5/Python_desde_Cero/blob/main/1_(Teoria)_Pyhton_desde_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

In [ ]:
## Operadores de asignación
x=5
x+=5
print(x)

y=5
y-=5
print(y)

z=5
z*=3
print(z)

w=4
w/=3
print(w)

##Divisíon entera
p=4
p//=3
print(p)

##Potencia
a=2
a**=3
print(a)

##Módulo
b=4
b%=2
print(b)

In [ ]:
## Operadores de asignación con texto
m1 = "Mamá"
m1 += "Hola"
m1

'MamáHola'

In [ ]:
## Parámetros sep y end
## El parámetro end elimina el salto de línea generado entre 2 instrucciones print y agrega texto entre ellos

print("Esto es un", end=" // ")
print("ejemplo")

## EL parámetro sep (notemos que se agregan espacios automáticamente)
print("1","2","3","4","5")
print("1","2","3","4","5",sep="-")
print("1","2","3","4","5",sep="")

Esto es un // ejemplo
1 2 3 4 5
1-2-3-4-5
12345

In [ ]:
#3 Ciclo while

print(" Ejercicio 1")
X=1
while X<3:
  print(X)
  X+=1
print("Fin")

print(" Ejercicio 2")
X=1
while X<4:
  print("Camilo")
  X+=1
print("Fin")

 Ejercicio 1
1
2
Fin
 Ejercicio 2
Camilo
Camilo
Camilo
Fin

In [ ]:
## Bucle While con sentencia break

contador = 0

while contador<=10:
  contador +=1
  if contador == 5:
    break
  print("Valor actual de la variable:", contador)
print("FIN. Se ha ejecutado la sentencia break")

Valor actual de la variable: 1
Valor actual de la variable: 2
Valor actual de la variable: 3
Valor actual de la variable: 4
FIN. Se ha ejecutado la sentencia break

In [ ]:
## Bucle While con sentencia continue

contador = 0

while contador<8:
  contador +=1
  if contador == 5:
    print("Estas en el número 5")
    continue
  print("Valor actual de la variable:", contador)

Valor actual de la variable: 1
Valor actual de la variable: 2
Valor actual de la variable: 3
Valor actual de la variable: 4
Estas en el número 5
Valor actual de la variable: 6
Valor actual de la variable: 7
Valor actual de la variable: 8

In [ ]:
## Función len()

print(len(" H o l a "))

print("La palabra 'Hola' tiene", len("Hola"), "carácteres")

9
La palabra 'Hola' tiene 4 carácteres

In [ ]:
## Concatenación método format

print("Método 1")
A="Camilo"
B=19
print("Hola {} tienes {} años\n".format(A, B))

print("Método 2")
print("Hola {nombre} tienes {edad} años\n".format(nombre="Ignacio", edad="20"))

print("Método 3")
print("Hola {0} tienes {1} años\n".format(A, B))

print("Truquito")
print("Hola {nombre} tienes {edad} años ".format(nombre=input("ingrese su nombre"), edad = input("ingrese su edad ")))

In [ ]:
## f-Strings

nombre=input("Ingresa tu nombre: ")
n1=int(input("Ingresa un número: "))
n2=int(input("Ingresa otro número: "))

print(f"Hola {nombre}, el resultado de {n1} + {n2} es {n1+n2}")

Ingresa tu nombre: Camilo
Ingresa un número: 38
Ingresa otro número: 29
Hola Camilo, el resultado de 38 + 29 es 67

In [ ]:
## Método strip()

cadena1 = " Hola Ernesto "
A=cadena1.strip(" ")
print(A)

A = A.strip("o")
print(A)

A = A.strip("s tHo")
print(A)

Hola Ernesto
Hola Ernest
la Erne

In [ ]:
## Método rstrip()
## Solo modifica carácteres al final de una cadena

cadena=" Hola Ernesto "

print(cadena.rstrip(" o"))

print(cadena.rstrip(" oHt"))

## Método lstrip()
## Solo modifica carácteres al inicio de una cadena

cadena=" Hola Ernesto "

print(cadena.lstrip(" Ho"))

 Hola Ernest
 Hola Ernes
la Ernesto

In [ ]:
## istitle() y title()

variable = "HoLa CoMo Estas"
print(variable.istitle())

variable = "Hola Como Estas"
print(variable.istitle())

## title()

nombre = "camiLO pErez"
print(nombre.title())

False
True
Camilo Perez

In [ ]:
## islower()

cadena = "Camilo Perez"
print(cadena.islower())

## lower()

print(cadena.lower())

## is upper()
cadena = "Hola Mundo"
print(cadena.isupper())

## upper()
print(cadena.upper())

False
camilo perez
False
HOLA MUNDO

In [ ]:
## swapcase()

nombre = " camilo PEREZ"
print(nombre.swapcase())

 CAMILO perez

In [ ]:
## capitalize()
nombre = "caMilo PerEz"
print(nombre.capitalize())
nombre = nombre.capitalize()
print(nombre.istitle())
print(nombre.title())

Camilo perez
False
Camilo Perez

In [ ]:
## center(A)
## A debe ser un numero entero y mayor que la cantidad de caractéres de la variable

nombre = "camilo perez"
print(nombre.center(20, "="))

## ljust()
nombre = "camilo perez"
print(nombre.ljust(20, "="))

## rjust()
nombre = "camilo perez"
print(nombre.rjust(20, "/"))

====camilo perez====
camilo perez========
////////camilo perez

In [ ]:
## count()

nombre = "Camilo perez"
print(nombre.count("e",8))

print(nombre.count("e",-3))

2
1

In [ ]:
## startswith()
variable = "Hola cómo estas"
print(variable.startswith("ol",1,5))

## endswith()
variable = "Hola cómo estas"
variable.endswith("la",0,4)

True

True

In [ ]:
## substrings, sucesiones de cadenas dentro de una cadena principal

variable = "Mi nombre es Juan"
print(variable[3:9:2])

'''También se puede trabajar con número negativos, el funcionamiento de este
comando es el mismo solo cambia la posición'''

variable_dos = "Mi nombre es Juan"
variable_dos[-5:-1:1]

nmr

' Jua'

In [ ]:
## bucle for

variable = "Hola"
for i in variable:
  print(i)
print("Fin del programa")

H
o
l
a
Fin del programa

In [ ]:
## clase range

for i in range(5):
  print(i,end="/")
print("\n")

for j in range(1,5):
  print(j,end="-")
print("\n")

for k in range(1,6,2):
  print(k,end="+")
print("\n")

for m in range(5,0,-1):
  print(m,end="+")
print("\n")

0/1/2/3/4/

1-2-3-4-

1+3+5+

5+4+3+2+1+

# Listas

In [ ]:
## Listas
## Homogéneas: Mismos tipo de datos Heterogéneas: Distintos tipos de datos

print("Lista vacía")
lista_prueba = []
print(lista_prueba)

print("Lista homogénea")
lista_homo = ["Victor", "Carlos"]
print(lista_homo)

print("Lista heterogénea")
lista_hete = ["Sandra", 3, 3.3, True]
print(lista_hete)

Lista vacía
[]
Lista homogénea
['Victor', 'Carlos']
Lista heterogénea
['Sandra', 3, 3.3, True]

In [ ]:
## Acceder a los elementos de una lista

marcas = ["Toyota", "Apple", "Mazda", "Samsung"]
len(marcas)

print(marcas[3])
print(marcas[0])
print(marcas[-1])
print(marcas[-2])

print(marcas[0:1])
print(marcas[1:])
print(marcas[:3])
print(marcas[:])

Samsung
Toyota
Samsung
Mazda
['Toyota']
['Apple', 'Mazda', 'Samsung']
['Toyota', 'Apple', 'Mazda']
['Toyota', 'Apple', 'Mazda', 'Samsung']

In [ ]:
## Modificar los elementos de una lista

vocales = ["a", "e", "i", "o", "u"]

vocales[1] = "x"
print(vocales)

vocales[2:4] = ["y","z"]
print(vocales)

vocales[0:3] = ["y","z"]
print(vocales)

vocales[0:2] = ["y","z","w"]
print(vocales)

['a', 'x', 'i', 'o', 'u']
['a', 'x', 'y', 'z', 'u']
['y', 'z', 'z', 'u']
['y', 'z', 'w', 'z', 'u']

In [ ]:
## Agregar elementos a una lista append()

cocina = ["Cuchara", "Tenedor", "Cuchillo"]
cocina.append("Olla")
cocina

['Cuchara', 'Tenedor', 'Cuchillo', 'Olla']

In [ ]:
## insert() Insertar elementos a una lista en una posición determinada

paises = ["Francia","Alemania","Colombia"]
paises.insert(2,"Venezuela")
paises

['Francia', 'Alemania', 'Venezuela', 'Colombia']

In [ ]:
## pop() Eliminar elementos de una lista

lista = [2, "Manzana", 10.7, True]
lista.pop(2)
print(lista)

lista = [2, "Manzana", 10.7, True]
lista.pop()
print(lista)

[2, 'Manzana', True]
[2, 'Manzana', 10.7]

In [ ]:
## remove() Eliminar elementos de una lista

almuerzos = ["Pasta", 2, "Arroz con pollo"]
almuerzos.remove("Pasta")
print(almuerzos)

[2, 'Arroz con pollo']

In [ ]:
## Instrucción del - Eliminar una lista

lista_uno = ["Hola", 3, True]
del lista_uno[0]
print(lista_uno)

lista_uno = ["Hola", 3, True]
del lista_uno[0:2]
print(lista_uno)

del lista_uno[:] ##Elimina los elementos de la lista, pero esta sigue existiendo
print(lista_uno)

del lista_uno ##Elimina la lista

[3, True]
[True]
[]

In [ ]:
## reverse() - Invertir los elementos de una lista

numeros = ["Uno", 1, True, 1.1]
print(f"Lista antes: {numeros}")
print(f"\tPosición número 0 antes: {numeros[0]}")
print(f"\tPosición número 2 antes: {numeros[2]}")

numeros.reverse()
print(f"\nLista después: {numeros}")
print(f"\tPosición número 0 después: {numeros[0]}")
print(f"\tPosición número 2 después: {numeros[2]}")

Lista antes: ['Uno', 1, True, 1.1]
	Posición número 0 antes: Uno
	Posición número 2 antes: True

Lista después: [1.1, True, 1, 'Uno']
	Posición número 0 después: 1.1
	Posición número 2 después: 1

In [ ]:
## Curiosidad

print("Hola")
print("\b Mundo")

print("\nHola como te va hoy")
print("\tMundo")

Hola
 Mundo

Hola como te va hoy
	Mundo

In [ ]:
## sort () - Ordenar los elementos de una lista

numeros = [1,4,5,2,10]
numeros.sort(reverse = True)
print(numeros)

numeros = [1,4,5,2,3]
numeros.sort()
print(numeros)

numeros = ["a","o","u","e","i"]
numeros.sort()
print(numeros)

numeros = ["a","o","u","e","i"]
numeros.sort(reverse = True)
print(numeros)

[10, 5, 4, 2, 1]
[1, 2, 3, 4, 5]
['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

In [ ]:
## index() - Buscar elementos de una lista
'''
SINTAXIS:
Nombre_lista.index(elemento, inicio, final)
Inicio y final deben ser enteros
'''

marcas = ["Toyota", "Apple", "Mazda", "Samsung"]
print(marcas.index("Toyota"))

print(marcas.index("Mazda", 1))

0
2

In [ ]:
## extend() - Concatenar y extender listas

cocina = ["Cuchara", "Tenedor", "Cuchillo"]
baño = ["Papel", "Cepillo"]
cocina.extend(baño)
print(cocina)

numeros = [10, 20]
numeros.extend(range(30,100,10))
print(numeros)

['Cuchara', 'Tenedor', 'Cuchillo', 'Papel', 'Cepillo']
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
## sum() - Sumar elementos de una lista

sum(range(1,4))

digitos = [1, 4, 27]
print(sum(digitos, 0))

digitos = [1, 4, 27]
print(sum(digitos, 10))

digitos = [1, 4, 27]
print(sum(digitos, -10))

digitos = [1, 4, True]
print(sum(digitos))

32
42
22
6

In [ ]:
## Constructor de lista

print(list(range(0,100,10)))

nombre = "Camilo"
print(list(nombre))
lista_nombre = list(nombre)
print(lista_nombre[::-1])

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
['C', 'a', 'm', 'i', 'l', 'o']
['o', 'l', 'i', 'm', 'a', 'C']

In [ ]:
## listas anidadas

lista = [1, "True", [1,2,3]]
print(lista[2])
print(lista[2][1])

lista = [1, "True", [1,["a", "e","i","o"],3]]
print(f"Segunda lista: {lista[2]}")
print(lista[2][1])
print(lista[2][1][2])

[1, 2, 3]
2
Segunda lista: [1, ['a', 'e', 'i', 'o'], 3]
['a', 'e', 'i', 'o']
i