<a href="https://colab.research.google.com/github/camilorp5/Python_desde_Cero/blob/main/2__(Teoria)_Pyhton_desde_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Matrices

In [ ]:
## Matrices

matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
print(f"{matrix[0]}\n{matrix[1]}\n{matrix[2]}")

matrix[0][1]

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]
for i in matrix:
  print(i)

for i in matrix:
  for j in i:
    print(j)

for i in matrix:
  for j in i:
    print(j, end=" ")
  print()

In [ ]:
## Suma de matrices

matrix_one = [[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]]
matrix_two	= [[9, 8, 7],
               [6, 5, 4],
               [3, 2, 1]]
nueva_fila=[]
matrix_three = []

for j in range(len(matrix_one)):
  for i in range(len(matrix_one)):
    suma = matrix_one[j][i]+matrix_two[j][i]
  nueva_fila.append(suma)
  matrix_three.append(nueva_fila)

for k in range(len(matrix_one)):
  if k!=1:
    print(f"{matrix_one[k]}   {matrix_two[k]}   {matrix_three[k]}")
  else:
    print(f"{matrix_one[k]} + {matrix_two[k]} = {matrix_three[k]}")

[1, 2, 3]   [9, 8, 7]   [10, 10, 10]
[4, 5, 6] + [6, 5, 4] = [10, 10, 10]
[7, 8, 9]   [3, 2, 1]   [10, 10, 10]

In [ ]:
range(3)

range(0, 3)

# Diccionarios

In [ ]:
## Diccionarios, también pueden ser homogéneos o heterogeneos
## también puedo almacenar listas dentro de diccionarios,
## a su vez también podemos almacenar diccionarios dentro de diccionarios

Nombre = input("Ingrese su nombre: ")
Apellido = input("Ingrese su apellido: ")

nombre_dic = {"Nombre": Nombre,
              "Apellido": Apellido
              }

print(f"\n{nombre_dic}")
print(nombre_dic["Nombre"])
print(nombre_dic["Apellido"])

Ingrese su nombre: Camilo
Ingrese su apellido: Perez

{'Nombre': 'Camilo', 'Apellido': 'Perez'}
Camilo
Perez

In [ ]:
## Acceder a los elementos de un diccionario

nuevo_dic = {"Nombres":["Juan", "Matilde", "Oscar"],
             "Edades": {"J": 10, "M": 20, "O": 30}
             }

print(nuevo_dic["Nombres"][1])
print(nuevo_dic["Edades"]["J"])

Matilde
10

In [ ]:
## items()

print(nuevo_dic.items())

funcion_items = list(nuevo_dic.items())
funcion_items

dict_items([('Nombres', ['Juan', 'Matilde', 'Oscar']), ('Edades', {'J': 10, 'M': 20, 'O': 30})])

[('Nombres', ['Juan', 'Matilde', 'Oscar']),
 ('Edades', {'J': 10, 'M': 20, 'O': 30})]

In [ ]:
## keys() utilizado para agrupar las claves del diccionario en una lista

print(nuevo_dic.keys())

print(f"Lista de las keys: {list(nuevo_dic.keys())}")

dict_keys(['Nombres', 'Edades'])
Lista de las keys: ['Nombres', 'Edades']

In [ ]:
## values() Utilizado para obtener una lista de todos los valores del
## diccionario

print(nuevo_dic.values())

print(f"Lista de los values: {list(nuevo_dic.values())}")

dict_values([['Juan', 'Matilde', 'Oscar'], {'J': 10, 'M': 20, 'O': 30}])
Lista de los values: [['Juan', 'Matilde', 'Oscar'], {'J': 10, 'M': 20, 'O': 30}]

In [ ]:
## clear() Utilizado para eliminar todos los elementos de un objeto en Python

nuevo_dic.clear()
print(nuevo_dic)

{}

In [ ]:
## modificar y agregar elementos a un diccionario

este_dic = {"Francia": "Bogotá",
            "Alemania": "Berlín"
}

print(este_dic)

## Modificar
este_dic["Francia"] = "Paris"
print(este_dic)

## Agregar
este_dic["Italia"] = "Roma"
print(este_dic)

{'Francia': 'Bogotá', 'Alemania': 'Berlín'}
{'Francia': 'Paris', 'Alemania': 'Berlín'}
{'Francia': 'Paris', 'Alemania': 'Berlín', 'Italia': 'Roma'}

In [ ]:
## copy() crear una copia de un objeto en Python

precios_dic = {"Manzana": 3.4,
               "Pera": 5.0
}

precios_dic_copia = precios_dic.copy()
print(f"Esta es la copia: {precios_dic_copia}")

precios_dic_copia.clear()
print(f"Hemos borrado la copia: {precios_dic_copia}")
print(f"Este es el original: {precios_dic}")

Esta es la copia: {'Manzana': 3.4, 'Pera': 5.0}
Hemos borrado la copia: {}
Este es el original: {'Manzana': 3.4, 'Pera': 5.0}

In [ ]:
## fromkeys() Crear un nuevo diccionario tomando una secuencia de claves y
## un valor determinado

precios_dic = dict.fromkeys(["Manzana", "Pera"], 3.4)
print(precios_dic)

## Notemos que la clave "Mango" fue agregada
sequence = ("Manzana", "Pera", "Mango")
precios_dic = dict.fromkeys(sequence)
print(precios_dic)

## Tomemos como secuencia un diccionario
sequence = {"Manzana":2,
            "Pera":3,
            "Mango":4,
            "Naranja":5
}
precios_dic = dict.fromkeys(sequence, 10)
print(precios_dic)

## Tomemos como secuencia un String
precios_dic_str = dict.fromkeys("Mañas", [1,2,3])
print(precios_dic_str)

{'Manzana': 3.4, 'Pera': 3.4}
{'Manzana': None, 'Pera': None, 'Mango': None}
{'Manzana': 10, 'Pera': 10, 'Mango': 10, 'Naranja': 10}
{'M': [1, 2, 3], 'a': [1, 2, 3], 'ñ': [1, 2, 3], 's': [1, 2, 3]}

In [ ]:
## get() utilizado para obtener los valores que están asociados
## a cada una de las claves dle diccionario

dicc_hola = {"Manzana": 3.4,
               "Pera": 5.0
}

print(dicc_hola.get("Manzana"))
print(dicc_hola.get("Mango"))
print(dicc_hola.get("Mango",100))

3.4
None
100

In [ ]:
## popitem()

dicc_holas = {"Manzana": 3.4,
              "Pera": 5.0,
              "Piña" : 10.0
}

print(f"Método popitem()\nEl elemento eliminado es: {dicc_holas.popitem()}")
print(dicc_holas)

dicc_holas = {"Manzana": 3.4,
              "Pera": 5.0,
              "Piña" : 10.0
}

print(f"\nMétodo pop()\nEl elemento eliminado: {dicc_holas.pop('Manzana')}")
print(dicc_holas)

dicc_holas = {"Manzana": 3.4,
              "Pera": 5.0,
              "Piña" : 10.0
}
print(f"\nMétodo pop()\nEl elemento eliminado: {dicc_holas.pop('Naranja', 'No se encuentra la clave')}")
print(dicc_holas)

Método popitem()
El elemento eliminado es: ('Piña', 10.0)
{'Manzana': 3.4, 'Pera': 5.0}

Método pop()
El elemento eliminado: 3.4
{'Pera': 5.0, 'Piña': 10.0}

Método pop()
El elemento eliminado: No se encuentra la clave
{'Manzana': 3.4, 'Pera': 5.0, 'Piña': 10.0}

In [ ]:
## setdefault(key, value) Lo ideal es trabajarlo con siempre 2 argumentos

dicc_holas = {"Matemáticas": 3.4,
              "Biología": 5.0,
              "Química" : 10.0
}

print(dicc_holas.setdefault("Matemáticas", 100))
print(dicc_holas.setdefault("Historia", 6.5))
print(dicc_holas)

3.4
6.5
{'Matemáticas': 3.4, 'Biología': 5.0, 'Química': 10.0, 'Historia': 6.5}

In [ ]:
## update() actualizar y/o agregar elementos a un diccionario
## dict_name.update(dictionary)

dict_name = {"a":1,
             "b":2,
             "c":3
             }
dict_name.update({"z":4})
print(dict_name)

dict_name.update({"a":10, "b":20})
print(f"{dict_name}\n")

## Ciclo for() - Primer método

print("Primer método")
for key in dict_name:
  print(f"{key}, {dict_name[key]}")


## Ciclo for() - Segundo método

print("\nSegundo método")
for key, value in dict_name.items():
  print(f"{key}, {value}")

{'a': 1, 'b': 2, 'c': 3, 'z': 4}
{'a': 10, 'b': 20, 'c': 3, 'z': 4}

Primer método
a, 10
b, 20
c, 3
z, 4

Segundo método
a, 10
b, 20
c, 3
z, 4

# Tuplas

In [ ]:
## Se usan para almacenar información del mismo o diferente tipo
## Las tuplas no se pueden modificar luego de ser creadas, pero si se
## pueden modificar las listas y diccionarios dentro de la tupla
## nombre_tupla = ()

tupla_vacia = (1,"Joaquín", [2.5, 3.6])
print(tupla_vacia)

tupla_vacia_dos = 1, 2.3, {"Camilo":18,"Felipe":16}
print(tupla_vacia_dos)

tupla_vacia_tres = (1,)
print(tupla_vacia_tres)

(1, 'Joaquín', [2.5, 3.6])
(1, 2.3, {'Camilo': 18, 'Felipe': 16})
(1,)

In [ ]:
## Acceder elementos de una tupla

mi_tupla = (1,2,3,4,5)
print(f"Tupla: {mi_tupla}")

## Mediante índices
print(f"Índices:\n{mi_tupla[3]}")

## Mediante el operador de segmentación
## nombre_tupla[inicio:final:saltos]
print(f"Segmentación:\n{mi_tupla[1:4]}")
print(mi_tupla[1:4:2])

## Mediante desempaquetado de tuplas
## var_uno, var_dos = nombre_tupla[inicio:final:saltos]

print(f"Desempaquetado:")
var_uno, var_dos, var_tres = mi_tupla[1:4]
print(var_uno)
print(var_dos)
print(var_tres)

Tupla: (1, 2, 3, 4, 5)
Índices:
4
Segmentación:
(2, 3, 4)
(2, 4)
Desempaquetado:
2
3
4

In [ ]:
## Inmutabilidad de una tupla

vocales_tupla = ("a", "e", "i", [1, 2, 3], "o",{"Camilo":18,"Felipe":16} , "u")
vocales_tupla[0] = "A" ## No se puede modificar

In [ ]:
vocales_tupla[3][1] = 10 ## Si se puede modificar
print(vocales_tupla)

vocales_tupla[5]["Felipe"] = 10 ## Si se puede modificar
print(vocales_tupla)

('a', 'e', 'i', [1, 10, 3], 'o', {'Camilo': 18, 'Felipe': 16}, 'u')
('a', 'e', 'i', [1, 10, 3], 'o', {'Camilo': 18, 'Felipe': 10}, 'u')

In [ ]:
## Recorrer las tuplas con ayuda del ciclo for

vocales_tupla = ("a", "e", "i", "o", "u")

for i in vocales_tupla:
  print(i)

a
e
i
o
u

In [ ]:
## Desempaquetado de tuplas con ayuda del ciclo for

tuple_prueba = ("001", "Manzana", "Rojo"), ("002", "Pera", "Verde")
for codigo, fruta, color in tuple_prueba:
  print(f"La fruta de código {codigo} es {fruta} y es de color {color}")

La fruta de código 001 es Manzana y es de color Rojo
La fruta de código 002 es Pera y es de color Verde

In [ ]:
## Función tuple,  permite convertir un objeto iterable en una tupla
## Esta función permite un máximo de 1 elemento

print(tuple(range(10)))

hola = "Hola"
print(tuple(hola))

dict_prueba = {"a":1,
               "b":2,
               "c":3
}
print(tuple(dict_prueba))
print(tuple(dict_prueba.values()))
print(f"\nConvertir un diccionario a tupla: {tuple(dict_prueba.items())}")

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
('H', 'o', 'l', 'a')
('a', 'b', 'c')
(1, 2, 3)

Convertir un diccionario a tupla: (('a', 1), ('b', 2), ('c', 3))

In [ ]:
## Concatenar tuplas

tuple_uno = (1,2,3)
tuple_dos = (4,5,6)
tuple_tres = tuple_uno + tuple_dos
print(tuple_tres)

(1, 2, 3, 4, 5, 6)

In [ ]:
## Concatenar tuplas

tuple_uno = (1,2,3)
tuple_dos = (4,5,6)
tuple_uno += tuple_dos
print(tuple_uno)

(1, 2, 3, 4, 5, 6)
(4, 5, 6)

In [ ]:
## Concatenar tuplas

tupla_uno = (1,2,3)
lista = [4,5,6]

tupla_concatenada = tupla_uno + tuple(lista)
print(tupla_concatenada)

(1, 2, 3, 4, 5, 6)

In [ ]:
## Función zip()
## zip(objeto_iterable, objeto_iterable)
## Se detiene al momento de alcanzar el objeto que tiene la longitud más corta

nombres = ("Juan", "Matilde", "Oscar")
lista_uno = [1,2,3,4,5]

combinacion = zip(nombres, lista_uno)
print(list(combinacion))

nombres_dos = ("Juan", "Matilde", "Oscar", "Luna", "Cata")
lista_dos = [1,2,3,4]

for nombre_dos, lista_dos in zip(nombres_dos, lista_dos):
  print(nombre_dos, lista_dos)

[('Juan', 1), ('Matilde', 2), ('Oscar', 3)]
Juan 1
Matilde 2
Oscar 3
Luna 4

# Conjuntos

In [ ]:
## Es una collección desordenada,  es decir, python no conservará el orden
## de los elementos. Solo almacenan elementos inmutables
## No pueden contener listas, diccionarios o conjuntos
## No puedo acceder a los elementos de un conjunto a traves de su posición

conjunto = {5, 2, 4, 2, 4, 4} ## Elementos duplicados
print(conjunto)

conjunto_dos = {5, 2, 4, -1, -5, 2.5, -3} ## Enteros negativos
print(conjunto_dos)

conjunto_vocales = {"a", "i", "e", "u", "o"}
print(conjunto_vocales) ## El conjunto no ordena los elementos

conjunto_vacio = set(range(8))
print(conjunto_vacio)

{2, 4, 5}
{2, 2.5, 4, 5, -5, -3, -1}
{'i', 'o', 'a', 'u', 'e'}
{0, 1, 2, 3, 4, 5, 6, 7}

In [ ]:
## Subconjunto

conjunto_A = {1, 2, 3, 4, 5}
conjunto_B = {1, 2, 3}

print(conjunto_B.issubset(conjunto_A))
## Todos los elementos de B están también en A

conjunto_C = {1, 2, 3, 4, 5}
conjunto_D = {1, 2, 3, 4, 5}

print(conjunto_C.issubset(conjunto_D))
## Todos los elementos de C están también en D

print(conjunto_C <= conjunto_D) ## Subconjunto inclusivo

## Subconjunto estricto
print(conjunto_C < conjunto_D)

conjunto_E = {1, 2, 3, 4, 5}
conjunto_F = {1, 4, 5}

print(conjunto_E < conjunto_F)
#

True
True
True
False
False

In [ ]:
## Superconjunto

A = {1, 2, 3, 4, 5}
B = {1, 3}

print(A.issuperset(B))
## Todos los elementos de B están también en A

A = {1, 2, 3, 4, 5}
B = {1, 2, 3, 4, 5}

print(A.issuperset(B))
print(A > B) ## Superconjunto estricto
print(A >= B) ## Superconjunto inclusivo

True
True
False
True

In [ ]:
## Unión de conjuntos

A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

print(A.union(B))
print(A | B)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
## Intersección de conjuntos

A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

print(A.intersection(B))
print(A & B)
#

A = {1, 2}
B = {6, 7}

print(A.intersection(B))
print(A & B)
#

{3, 4, 5}
{3, 4, 5}
set()
set()

In [ ]:
## Diferencia entre conjuntos

A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

print(A.difference(B))
print(A - B)

print(B.difference(A))
print(B - A)

print(B.difference(B))
print(A - A)

{1, 2}
{1, 2}
{6, 7}
{6, 7}
set()
set()

In [ ]:
## Diferencia simétrica entre dos conjuntos

A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}

print(A.symmetric_difference(B))
print(A ^ B)

print(B.symmetric_difference(A))
print(B ^ A)

print(B.symmetric_difference(B))
print(A ^ A)

{1, 2, 6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}
{1, 2, 6, 7}
set()
set()

In [ ]:
## Agregar un nuevo elemento a un conjunto
## add()

A = {1, 2, 3, 4, 5}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6}

In [ ]:
##  Agregar nuevos elementos a un conjunto
## update(objeto_iterable) Recibe elementos iterables

A = {1, 2, 3, 4, 5}
A.update([6, 7, 8])
print(A)

B = {1, 2, 3, 4, 5}
B.update(range(2))
print(B)

{1, 2, 3, 4, 5, 6, 7, 8}
{0, 1, 2, 3, 4, 5}

In [ ]:
## Eliminar elementos de un conjunto
## remove(elemento) Asegurarse que el elemento esta en el conjunto

A = {1, 2, 3, 4, 5}
A.remove(5)
print(A)

## discard() No ocurrirá un error si el elemento a eliminar no se encuentra
## en el conjunto

A = {1, 2, 3, 4, 5}
A.discard(8)
print(A)

##

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [ ]:
## Recorrer un conjunto con los bucles for y while

A = {1, 2, 3, 4, 5}

for i in A:
  print(i)

print("1ra opción while()")
B = {1, 2, 3, 4, 5}
while B:
  print(B.pop())
#

print("2da opción while()")
list_A = list(A)
indicador=0
while indicador < len(list_A):
  print(list_A[indicador])
  indicador += 1
#

1
2
3
4
5
1ra opción while()
1
2
3
4
5
2da opción while()
1
2
3
4
5

# Expresiones de compresión

In [ ]:
## Una forma concisa y legible de hacer operaciones en iterables

'''
Lista de comprensión: Crea una nueva lista aplicando una expresión a cada
elemento de un iterable

Conjunto de comprensión: Es igual que la lista oero crea un conjunto

Diccionario de comprensión: Crea un nuevo diccionario aplicandouna expresión
a cada elemento de un iterable para determinar tanto las claves como los
valores
'''

## Expresiones de comprensión
## Corchetes para listas y llaves para diccionarios y conjuntos

## Sintaxis: [expresion for elemento in iterable]
## Sintaxis con filtro: [expresion for elemento in iterable if condición]

'''
Desarrollar un programa en PYTHON que genere una lista con los cuadrados
de los números del 0 al 9
'''

cuadrados = [x**2 for x in range(10)]
print(cuadrados)

'''
Desarrollar un programa en PYTHON que genere una lista con los cuadrados
de los números pares del 0 al 9
'''

cuadrados_pares = [x**2 for x in range(10) if x%2==0]
print(cuadrados_pares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
## Diccionarios

personas = [("Carlos",30), ("Maria",10), ("Laura",18), ("Sofia",39)]

diccionario = {nombre:edad for nombre, edad in personas}
print(diccionario)

'''
Desarrollar un programa en PYTHON que genere un diccionario con los nombres de
las personas mayores de edad
'''

personas = [("Carlos",30), ("Maria",10), ("Laura",18), ("Sofia",39)]

diccionario = {nombre:edad for nombre, edad in personas if edad>=18}
print(diccionario)

{'Carlos': 30, 'Maria': 10, 'Laura': 18, 'Sofia': 39}
{'Carlos': 30, 'Laura': 18, 'Sofia': 39}

# Otros

In [ ]:
## Enumerate()

frutas = ["Manzana", "Pera", "Naranja"]
for i in enumerate(frutas):
  print(i)

print("\n")
ciudades = ["Bogotá", "Medellin", "Cali"]
for posicion, ciudad in enumerate(ciudades, start=1):
  print(F"La ciudad {ciudad} se encuentra en la posición {posicion}")

print("\n")
enumerado = list(enumerate(ciudades, start=5))
print(enumerado)

(0, 'Manzana')
(1, 'Pera')
(2, 'Naranja')


La ciudad Bogotá se encuentra en la posición 1
La ciudad Medellin se encuentra en la posición 2
La ciudad Cali se encuentra en la posición 3


[(5, 'Bogotá'), (6, 'Medellin'), (7, 'Cali')]

In [ ]:
## import
 ## 1. math: Funciones matemáticas
 ## 2. numpy:

print("Importar un modulo completo")

import math

print(f"3*2*1 = {math.factorial(3)}")
print(math.sqrt(16))
print(f"Pi: {mt.pi}")
print(math.sin(math.pi/2))

print("\nImportar un modulo con un alias")

import math as mt

print(f"4*3*2*1 = {mt.factorial(4)}")
print(mt.sqrt(64))
print(f"Euler: {mt.e}")
print(mt.sin(mt.pi/2))

print("\nImportar solo lo necesario de un módulo")

from math import factorial, sqrt

print(f"5*4*3*2*1 = {factorial(5)}")
print(sqrt(4))

Importar un modulo completo
3*2*1 = 6
4.0
Pi: 3.141592653589793
1.0

Importar un modulo con un alias
4*3*2*1 = 24
8.0
Euler: 2.718281828459045
1.0

Importar solo lo necesario de un módulo
5*4*3*2*1 = 120
2.0

In [ ]:
## método random

import random as rd

print(rd.random())
print(rd.randint(1,10))

#randrange(start, stop, step)
print(rd.randrange(0,10,2))

0.9962630526951775
9
6

In [ ]:
## Manejo de excepciones

try:
  numero = int(input("Ingrese un número: "))
  resultado = 50//numero
  print(f"50//{numero} = ",resultado)

except ValueError as ve:
  print(f"Debe ingresar un número entero: Error! {ve}")

except ZeroDivisionError as zde:
  print(f"No se puede dividir por cero: Error! {zde}")

except Exception as e:
  print(f"Error! {e}")

else:
  print("No hubo errores")

finally:
  print("Fin del programa")

Ingrese un número: 0
No se puede dividir por cero: Error! integer division or modulo by zero

In [ ]:
try:
  numero = int(input("Ingrese un número: "))
  resultado = 50//numero
  print(f"50//{numero} = ",resultado)

except Exception as e:
  print(f"Error! {e}")

Ingrese un número: hol
Error! invalid literal for int() with base 10: 'hol'

# Funciones

In [ ]:
def suma(a,b):
  return a+b
suma(19,3)

22

In [ ]:
def buscar_palabra(lista, subcadena):
  return [ i for i in lista if subcadena in i]

palabras = [
    "Hola", "Pato", "Mía", "Pera", "Este"
]
subcadena = "o"

print(f"Palabras que contienen la letra {subcadena}: {buscar_palabra(palabras, subcadena)}")

Palabras que contienen la letra o: ['Hola', 'Pato']

In [ ]:
# Funciones recursivas

def factorial(numero):
  if numero == 0:
    return 1
  else:
    return numero * factorial(numero-1)

factorial(10)

3628800

In [ ]:
class ValorNegativo(Exception):
  pass

def dividir(a,b):
  if b == 0:
    raise ZeroDivisionError("División entre cero")
  elif a < 0 or b < 0:
    raise ValorNegativo("Los valores negativos no están permitidos")
  return a/b

try:
  resultado = dividir(10,0)
except ZeroDivisionError as e:
  print (e)
except ValorNegativo as e:
  print(e)

División entre cero

In [ ]:
class Persona:
  def __init__(self, nombre, edad):
    self.nombre = nombre
    self.edad = edad
  def presentarse(self):
    print(f"Hola mi nombre es {self.nombre} y tengo {self.edad} años")

In [ ]:
individuo = Persona("Domingo", 23)

In [ ]:
individuo.presentarse()

Hola mi nombre es Domingo y tengo 23 años

**Herencia**

In [ ]:
class Empleado(Persona):
  def __init__(self, nombre, edad, salario):
    super().__init__(nombre, edad)
    self.salario = salario
  def mostrar_salario(self):
    print(f"Mi salario es {self.salario} USD")

In [ ]:
empleado = Empleado("Brenda", 25, 50.0)
empleado.presentarse()
empleado.mostrar_salario()

Hola mi nombre es Brenda y tengo 25 años
Mi salario es 50.0 USD